/* ABOUT PAGE */
#about-page {
  color: var(--text-color);
}

#location {
  margin: 10px 0px 10px 20px;
  font-style: italic;
}

#location i {
  margin-right: 10px;
}

#blurb-and-photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#blurb > * {
  margin-bottom: 14px;
}

#pictures-and-captions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pictures-and-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pictures-and-buttons button {
  background-color: transparent;
  color: var(--text-color);
  border: 0px;
}

#pictures-and-buttons button:hover {
  color: var(--dark-text-color);
}

#profile-pic-div {
  height: 200px;
  width: 200px;
  position: relative;
  margin-bottom: 15px;
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.image-button {
  font-size: 30px;
  transform: scale(0.5, 1);
}

/* ARROWS */
#about-me-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-height: 130px;
}

#baby-picture {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 15px;
  position: relative;
  left: calc(-20px - 5vw);
}

#small-arrow {
  display: none;
}

#large-arrow {
  display: block;
  position: relative;
  top: calc(-200px - 10vw);
  left: calc(-5px - 5vw);
  height: calc(320px + 10vw);
  width: calc(160px + 5vw);
  z-index: -1;
  rotate: -4deg;
}

/* MEDIUM MOBILE */
@media (min-width: 380px) {
  /* ARROWS */
  #large-arrow {
    top: calc(-180px - 10vw);
    left: calc(-5px - 10vw);
    height: calc(300px + 10vw);
    width: calc(150px + 5vw);
    rotate: -10deg;
  }
}

/* TABLET */
@media (min-width: 750px) {
  /* ABOUT PAGE */
  #profile-pic-div {
    height: 260px;
    width: 260px;
  }

  #profile-picture {
    height: 250px;
    width: 250px;
    padding: 10px 10px 10px 10px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  /* ABOUT PAGE */
  #blurb-and-photo {
    flex-direction: row;
    gap: 50px;
  }

  #blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* ARROWS */
  #small-arrow {
    display: block;
    position: relative;
    top: -10px;
    left: 10px;
    height: 110px;
    width: 110px;
    rotate: 3deg;
  }

  #large-arrow {
    display: none;
  }

  #baby-picture {
    left: 0px;
  }
}
