/* CONTACT PAGE */
#contact-page {
  display: flex;
  align-items: flex-end;
}

#contact-page-inner {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 40px;
}

#contact-content {
  margin-top: 10px;
}

#interests,
#skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#interests > *,
#skills > * {
  color: var(--text-color);
  background-color: transparent;
}

#interests > *:hover,
#skills > *:hover {
  color: var(--dark-text-color);
  border: 0.5px solid var(--dark-text-color);
}

#my-skills {
  margin-top: 30px;
}

#contact {
  border-top: 0.5px solid var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  flex-wrap: wrap;
}

#contact a {
  text-decoration: none;
  color: var(--text-color);
}

#contact a:hover {
  text-decoration: none;
  color: var(--dark-text-color);
}

/* MESSAGE SECTION */
#send-message-div {
  display: flex;
  justify-content: flex-end;
}

#send-message-button {
  margin: 0px 0px 20px 0px;
  border-radius: 25px;
  background-color: var(--text-color);
  color: var(--background-color);
}

#send-message-button:hover {
  background-color: transparent;
  color: var(--text-color);
}

#message-modal-background {
  background-color: var(--clear-background-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  min-width: 300px;
  z-index: 1;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message-modal {
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100%;
  padding: 20px;
}

#message-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

#dismiss-modal {
  transform: scale(1.2, 1);
}

#dismiss-modal:hover {
  color: var(--dark-text-color);
}

#message-prompts input {
  background-color: transparent;
  border: 0px;
  border-bottom: 0.5px solid var(--text-color);
  padding-bottom: 10px;
}

#top-message-prompts {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

#top-message-prompts input {
  width: 100%;
}

/* TABLETS */
@media (min-width: 900px) {
  /* CONTACT PAGE */
  #contact-page-inner {
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
  }

  #contact-title {
    flex: 1;
    position: relative;
    top: 15px;
  }

  #contact-content {
    margin-top: 20px;
  }

  #contact-content {
    flex: 3;
  }

  #interests,
  #skills {
    margin-bottom: 10px;
    gap: 10px;
  }

  /* MESSAGE SECTION */
  #send-message-button {
    margin: 20px 0px 20px 0px;
  }
}
