/* EXPERIENCE PAGE */
#experience-page {
  margin-bottom: 160px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

#education-and-experience {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#education-header,
#experience-header {
  display: flex;
  justify-content: space-between;
}

#experience-header {
  margin-top: 15px;
}

#education-header p,
#experience-header p {
  transform: scale(1.25, 0.6);
  font-size: 24px;
}

.education-outer-div {
  margin: 15px 0px 15px 0px;
}

.education-top-div,
.education-bottom-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.education-bottom-div {
  font-style: italic;
  color: var(--dark-text-color);
}

.education-left {
  text-align: left;
}

.education-right {
  text-align: right;
}

#ed-show:hover,
#ed-hide:hover,
#ex-show:hover,
#ex-hide:hover {
  color: var(--dark-text-color);
}

#DNA {
  rotate: 44deg;
  position: relative;
  width: 0px;
  height: 0px;
  top: -100px;
  left: 40px;
  z-index: -1;
}

/* LARGE MOBILE */
@media (min-width: 455px) {
}

/* TABLET */
@media (min-width: 750px) {
  #experience-page {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  #education-and-experience {
    flex: 1;
    margin-top: 0px;
  }

  #DNA {
    position: relative;
    width: 225px;
    height: 550px;
    top: 0px;
    left: -10px;
    rotate: 0deg;
  }
}
