/* HOME PAGE */
#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page-content {
  margin-top: 140px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-text {
  min-width: 260px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 60px 0px;
}

#name {
  color: var(--text-color);
  text-align: center;
  font-weight: 500;
  width: calc(20vw + 160px);
}

#intro {
  width: 275px;
  color: var(--text-color);
  margin: 20px 0px 0px 0px;
}

/* ABOUT PAGE */
#about-page {
  color: var(--text-color);
}

#location {
  margin: 10px 0px 10px 20px;
  font-style: italic;
}

#location i {
  margin-right: 10px;
}

#blurb-and-photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 120px;
}

#blurb > * {
  margin-bottom: 14px;
}

#pictures-and-captions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pictures-and-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pictures-and-buttons button {
  background-color: transparent;
  color: var(--text-color);
  border: 0px;
}

#pictures-and-buttons button:hover {
  color: var(--dark-text-color);
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.image-button {
  font-size: 30px;
  transform: scale(0.5, 1);
}

/* PROJECT PAGE */
#project-page {
  color: var(--text-color);
}

#project-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* LARGE MOBILE */
@media (min-width: 455px) {
  #pictures-and-buttons {
    gap: 20px;
  }
}

/* TABLET */
@media (min-width: 750px) {
  /* HOME PAGE */
  #intro-text {
    flex-direction: row;
  }

  #name {
    text-align: left;
  }

  /* ABOUT PAGE */
  #profile-picture {
    height: 250px;
    width: 250px;
    padding: 10px 10px 10px 10px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  /* HOME PAGE */
  #intro-text {
    padding: 0px 35px 0px 40px;
  }

  /* ABOUT PAGE */
  #blurb-and-photo {
    flex-direction: row;
    gap: 50px;
  }

  #blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
