/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  min-width: 300px;
  transition: backdrop-filter 2s ease, -webkit-backdrop-filter 2s ease;
  z-index: 1;
}

.nav-blur {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

#nav-content {
  display: flex;
  justify-content: space-between;
}

#left-nav-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 22px 10px 18px 20px;
}

#home {
  text-decoration: none;
  color: var(--text-color);
  margin-top: 0;
}

#right-nav-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 20px 20px 18px 10px;
}

#right-nav-content a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0px 0px 0px 10px;
  font-weight: 400;
}

#home:hover,
#right-nav-content a:hover {
  color: var(--dark-text-color);
}

/* PROGRESS BAR */
.progress-bar {
  height: 0.5px;
  background: var(--text-color);
  transform-origin: 50%;
}
