/* NAV */
nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-width: 300px;
}

#home {
  font-size: calc(1.5vw + 30px);
  margin: 30px 10px 30px 30px;
}

#home > * {
  text-decoration: none;
  color: var(--text-color);
}

#nav-links {
  display: flex;
  flex-direction: column;
  margin: 30px 30px 30px 10px;
  min-width: 100px;
}

#nav-links > * > * {
  color: var(--text-color);
  font-size: 20px;
  text-decoration: none;
}

/* ARROWS */
#about-arrow,
#projects-arrow {
  font-size: 20px;
}
