/* HOME PAGE */
#home-page {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-text {
  min-width: 260px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 60px 0px;
}

#name {
  color: var(--text-color);
  font-size: calc(6vw + 38px);
  text-align: center;
  font-weight: 500;
  width: calc(20vw + 160px);
}

#intro {
  width: 275px;
  font-size: 24px;
  color: var(--text-color);
  margin: 20px 0px 0px 0px;
}

/* ABOUT PAGE */
#about {
  color: var(--text-color);
}

/* LARGE MOBILE */
@media (min-width: 750px) {
  #intro-text {
    flex-direction: row;
  }

  #name {
    text-align: left;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  #intro-text {
    padding: 0px 35px 0px 40px;
  }
}
