/* GLOBAL */
:root {
  --text-color: #ffffff;
  --dark-text-color: #9d9d9d;
  --background-color: #131313;
}

html {
  background-color: var(--background-color);
}

/* FONTS */
.cormorant {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* BACKGROUND IMAGE */
#background-image {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  object-fit: cover;
  min-width: 300px;
}

/* EFFECTS */
.hidden {
  display: none;
}

.hidden-with-space {
  visibility: hidden;
}

/* COMMON ELEMENTS */
.page-inner {
  margin: 0px 8vw 0px 8vw;
  height: calc(100% - 220px);
}

.title {
  font-size: calc(3vw + 30px);
  margin-top: 50px;
}

.subtitle {
  font-size: calc(1vw + 20px);
  margin-top: 30px;
}

/* TABLETS */
@media (min-width: 455px) {
  .page-inner {
    margin: 0px 11vw 0px 11vw;
  }
}

/* MEDIUM SCREENS */
@media (min-width: 770px) {
  .page-inner {
    margin: 0px 12vw 0px 12vw;
  }
}

/* DESKTOPS */
@media (min-width: 1024px) {
  .page-inner {
    margin: 0px 16vw 0px 16vw;
  }
}
