/* GLOBAL */
:root {
  --text-color: #ffffff;
  --background-color: #1e1e1e;
}

html {
  background-color: var(--background-color);
}

/* FONTS */
.cormorant {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* EFFECTS */
.hidden {
  display: none;
}

.hidden-with-space {
  visibility: hidden;
}

/* COMMON ELEMENTS */
.page {
  height: 100vh;
  width: 100vw;
  min-width: 300px;
}

.page-inner {
  margin: 140px 6vw 80px 6vw;
  height: calc(100% - 220px);
}

/* TABLETS */
@media (min-width: 490px) {
  .page-inner {
    margin: 140px 8vw 80px 8vw;
  }
}

/* MEDIUM SCREENS */
@media (min-width: 770px) {
  .page-inner {
    margin: 140px 12vw 80px 12vw;
  }
}

/* DESKTOPS */
@media (min-width: 1024px) {
  .page-inner {
    margin: 140px 18vw 80px 18vw;
  }
}
