/* GLOBAL */
:root {
  --text-color: #ffffff;
  --dark-text-color: #98bad2c6;
  /* --dark-text-color: #9badbc; */
  --clear-text-color: #ffffff97;
  --background-color: #131313;
  --clear-background-color: #131313c9;
  --test-color: #81aeaa;
  --test-color2: #6f8f6c;
  --test-color3: #80a9b1;
  --test-color4: #75aa8c;
  --test-color5: #66709b;
}

html {
  background-color: var(--background-color);
}

/* FONTS */
.cormorant {
  font-family: "Cormorant Upright", serif;
  font-weight: 400;
  font-style: normal;
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  font-size: 14px;
}

/* FONT SIZES */
.large-title {
  font-size: calc(6vw + 38px);
}

.medium-title {
  font-size: calc(4vw + 34px);
}

.title {
  font-size: calc(2vw + 30px);
  margin-top: 50px;
}

.subtitle {
  font-size: calc(1vw + 20px);
}

.large-text {
  font-size: 18px;
}

/* BACKGROUND IMAGE */
#background-image {
  z-index: -1;
  position: fixed;
  top: -10vh;
  left: 0;
  width: 100vw;
  height: 120vh;
  opacity: 0.9;
  object-fit: cover;
  min-width: 300px;
}

/* EFFECTS */
.hidden {
  display: none;
}

.hidden-with-space {
  visibility: hidden;
}

/* COMMON ELEMENTS */
.top-page {
  height: 100vh;
}

.page {
  min-height: 80vh;
}

.bottom-page {
  min-height: 100vh;
}

.page-inner {
  margin: 0px 8vw 0px 8vw;
}

.page-inner-large {
  margin: 0px 8vw 0px 8vw;
}

.borders {
  border: 0.5px solid var(--clear-text-color);
  padding: 8px 15px 8px 15px;
  border-radius: 20px;
}

.separator {
  margin-top: 15px;
  border-top: 0.5px solid var(--text-color);
}

/* LARGE MOBILE */
@media (min-width: 455px) {
  .page-inner {
    margin: 0px 11vw 0px 11vw;
  }

  .page-inner-large {
    margin: 0px 11vw 0px 11vw;
  }

  .mulish {
    font-size: 18px;
  }

  .large-text {
    font-size: 20px;
  }
}

/* TABLETS */
@media (min-width: 750px) {
  .page-inner {
    margin: 0px 9vw 0px 9vw;
  }

  .page-inner-large {
    margin: 0px 9vw 0px 9vw;
  }

  .mulish {
    font-size: 20px;
  }

  .large-text {
    font-size: 22px;
  }
}

/* DESKTOPS */
@media (min-width: 1024px) {
  .page-inner {
    margin: 0px 16vw 0px 16vw;
  }

  .page-inner-large {
    margin: 0px 7vw 0px 7vw;
  }

  .large-text {
    font-size: 24px;
  }
}
